Repository Enriquefft/404TF: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types-landing, types-spechack

lint:
  run: bunx biome check --fix . --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

types-landing:
  run: cd apps/landing && bunx tsc --noEmit

types-spechack:
  run: cd apps/spechack && bunx tsc --noEmit

fix(02): add missing hubs anchor ID and fix footer register link
  apps/spechack/src/app/[locale]/_components/Footer.tsx
  apps/spechack/src/app/[locale]/_components/Hubs.tsx
Due: lint, types-spechack

docs(02): complete static-content-migration phase
  apps/spechack/.planning/REQUIREMENTS.md
  apps/spechack/.planning/ROADMAP.md
  apps/spechack/.planning/phases/02-static-content-migration/02-VERIFICATION.md
Due: none

feat(04-01): fix database schema for SpecHack forms
  packages/database/src/schema.ts
Due: lint

feat(04-01): add card-utils and Server Actions for registration and ambassador forms
  apps/spechack/package.json
  apps/spechack/src/app/[locale]/_actions/ambassador.actions.ts
  apps/spechack/src/app/[locale]/_actions/register.actions.ts
  apps/spechack/src/lib/card-utils.ts
  bun.lock
Due: lint, types-spechack

docs(04-01): complete Schema Fix + Server Actions plan
  apps/spechack/.planning/STATE.md
  apps/spechack/.planning/phases/04-forms-database/04-01-SUMMARY.md
Due: none

feat(04-03): add metadata translations and SEO config
  apps/spechack/messages/en.json
  apps/spechack/messages/es.json
  apps/spechack/src/lib/metadata/seo-config.ts
Due: lint, types-spechack

feat(04-02): create RegistrationForm client component and wire to Hero
  apps/spechack/src/app/[locale]/_components/Hero.tsx
  apps/spechack/src/app/[locale]/_components/RegistrationForm.tsx
Due: lint, types-spechack

feat(04-03): replace static metadata with generateMetadata in layout
  apps/spechack/src/app/[locale]/layout.tsx
Due: lint, types-spechack

feat(04-02): create AmbassadorForm client component and wire to Hubs
  apps/spechack/src/app/[locale]/_components/AmbassadorForm.tsx
  apps/spechack/src/app/[locale]/_components/Hubs.tsx
Due: lint, types-spechack

docs(04-03): complete SEO Metadata & Translations plan
  apps/spechack/.planning/STATE.md
  apps/spechack/.planning/phases/04-forms-database/04-03-SUMMARY.md
Due: none

docs(04-02): complete Client Form Components plan
  apps/spechack/.planning/STATE.md
  apps/spechack/.planning/phases/04-forms-database/04-02-SUMMARY.md
Due: none

chore: regular commit
  scripts/init-db.ts
  todos.md
Due: lint

chore: regular commit
  .planning/phases/01-foundation/01-VERIFICATION-v2.md
  CLAUDE.md
Due: none

chore: regular commit
  apps/spechack/src/app/[locale]/c/[name]/opengraph-image.tsx
Due: lint, types-spechack

feat(spechack): add 3D Agent Credential with React Three Fiber + Rapier
  apps/spechack/package.json
  apps/spechack/src/app/[locale]/_components/CardReveal3D.tsx
  apps/spechack/src/app/[locale]/_components/RegistrationForm.tsx
  apps/spechack/src/app/[locale]/_components/credential-3d/AgentCredentialScene.tsx
  apps/spechack/src/app/[locale]/_components/credential-3d/CardBackTexture.tsx
  apps/spechack/src/app/[locale]/_components/credential-3d/CardFaceTexture.tsx
  apps/spechack/src/app/[locale]/_components/credential-3d/CredentialCard.tsx
  apps/spechack/src/app/[locale]/_components/credential-3d/HoloRing.tsx
  apps/spechack/src/app/[locale]/_components/credential-3d/IridescentMaterial.tsx
  apps/spechack/src/app/[locale]/_components/credential-3d/ParticleStream.tsx
  apps/spechack/src/app/[locale]/_components/credential-3d/RadarPing.tsx
  apps/spechack/src/app/[locale]/_components/credential-3d/RevealSequence.tsx
  apps/spechack/src/app/[locale]/_components/credential-3d/constants.ts
  apps/spechack/src/app/[locale]/_components/credential-3d/useCardDrag.ts
  apps/spechack/src/app/[locale]/_components/credential-3d/useGyroscope.ts
  apps/spechack/src/app/[locale]/_components/credential-3d/useRevealState.ts
  apps/spechack/src/lib/card-utils.client.ts
  bun.lock
Due: lint, types-spechack

fix(spechack): use %% placeholders in tweetTemplate to avoid ICU conflict
  apps/spechack/messages/en.json
  apps/spechack/messages/es.json
  apps/spechack/src/app/[locale]/_components/CardReveal.tsx
  apps/spechack/src/app/[locale]/_components/CardReveal3D.tsx
Due: lint, types-spechack

fix(spechack): make 3D card drag snappy and reliable
  apps/spechack/src/app/[locale]/_components/credential-3d/AgentCredentialScene.tsx
  apps/spechack/src/app/[locale]/_components/credential-3d/CredentialCard.tsx
  apps/spechack/src/app/[locale]/_components/credential-3d/useCardDrag.ts
Due: lint, types-spechack

fix(spechack): improve card text contrast for WCAG AA and remove duplicate card on challenge page
  apps/spechack/src/app/[locale]/c/[name]/page.tsx
  apps/spechack/src/lib/card-utils.client.ts
Due: lint, types-spechack

feat(report): scaffold Astro app with React, Tailwind v4, and design system preview
  .gitignore
  apps/report/.agents/skills/frontend-design/LICENSE.txt
  apps/report/.agents/skills/frontend-design/SKILL.md
  apps/report/PRD.pdf
  apps/report/astro.config.ts
  apps/report/design-spec.jsonc
  apps/report/package.json
  apps/report/skills-lock.json
  apps/report/src/components/DesignSystemPreview.tsx
  apps/report/src/env.d.ts
  apps/report/src/layouts/BaseLayout.astro
  apps/report/src/pages/index.astro
  apps/report/src/styles/design-system.css
  apps/report/src/styles/globals.css
  apps/report/tsconfig.json
  bun.lock
  package.json
Due: lint

fix(report): use actual logo SVG in sidebar and gitignore zip files
  .gitignore
  apps/report/public/brand/logo-transparent-ondark.svg
  apps/report/src/components/DesignSystemPreview.tsx
Due: lint

feat: added matrix design preview
  apps/report/package.json
  apps/report/src/components/DesignSystemPreview.tsx
  apps/report/src/components/VariantToolbar.tsx
  apps/report/src/pages/index.astro
  bun.lock
Due: lint

feat: adding aaccent changer
  apps/report/src/components/DesignSystemPreview.tsx
  apps/report/src/components/VariantToolbar.tsx
  apps/report/src/styles/design-system.css
Due: lint

feat(report): add top 5 preset combos to variant toolbar
  apps/report/src/components/VariantToolbar.tsx
Due: lint

feat(report): add tone-matched text colors and secondary scale per BG variant
  apps/report/src/components/VariantToolbar.tsx
  apps/report/src/styles/design-system.css
Due: lint

feat(report): optimize preset #1 with atmospheric effects and refined tokens
  apps/report/src/components/DesignSystemPreview.tsx
  apps/report/src/components/VariantToolbar.tsx
  apps/report/src/styles/design-system.css
Due: lint

feat(report): commit to preset #2 with shadcn CSS variable naming
  apps/report/src/components/DesignSystemPreview.tsx
  apps/report/src/components/VariantToolbar.tsx
  apps/report/src/layouts/BaseLayout.astro
  apps/report/src/old/presets-archive.ts
  apps/report/src/pages/index.astro
  apps/report/src/styles/design-system.css
  apps/report/src/styles/globals.css
Due: lint

chore: regular commit
  apps/landing/next-env.d.ts
  apps/report/.agents/skills/shadcn/SKILL.md
  apps/report/.agents/skills/shadcn/agents/openai.yml
  apps/report/.agents/skills/shadcn/assets/shadcn-small.png
  apps/report/.agents/skills/shadcn/assets/shadcn.png
  apps/report/.agents/skills/shadcn/cli.md
  apps/report/.agents/skills/shadcn/customization.md
  apps/report/.agents/skills/shadcn/evals/evals.json
  apps/report/.agents/skills/shadcn/mcp.md
  apps/report/.agents/skills/shadcn/rules/base-vs-radix.md
  apps/report/.agents/skills/shadcn/rules/composition.md
  apps/report/.agents/skills/shadcn/rules/forms.md
  apps/report/.agents/skills/shadcn/rules/icons.md
  apps/report/.agents/skills/shadcn/rules/styling.md
  apps/report/skills-lock.json
Due: lint

fix(vercel): skip redundant rebuilds with ignoreCommand
  apps/landing/vercel.json
  apps/spechack/vercel.json
Due: lint

chore: fix monorepo integration gaps for report app
  .gitignore
  apps/report/design-spec.jsonc
  apps/report/package.json
  bun.lock
  lefthook.yml
Due: lint

feat(report): add interactive hero section with dot-grid map of the Americas
  apps/report/src/components/hero/DotGridMap.tsx
  apps/report/src/components/hero/HeroCTAs.tsx
  apps/report/src/components/hero/HeroHeader.tsx
  apps/report/src/components/hero/HeroSection.tsx
  apps/report/src/components/hero/HeroStatsBar.tsx
  apps/report/src/components/hero/StartupDot.tsx
  apps/report/src/components/hero/StartupTooltip.tsx
  apps/report/src/components/hero/VerticalFilterLegend.tsx
  apps/report/src/components/hero/data/mapGrid.ts
  apps/report/src/components/hero/data/startups.ts
  apps/report/src/components/hero/data/verticals.ts
  apps/report/src/pages/index.astro
  apps/report/src/pages/style.astro
  apps/report/src/styles/globals.css
Due: lint

chore(report): update design spec, preview component, and skill configs
  apps/report/.agents/skills/shadcn/evals/evals.json
  apps/report/astro.config.ts
  apps/report/design-spec.jsonc
  apps/report/skills-lock.json
  apps/report/src/components/DesignSystemPreview.tsx
  apps/report/src/old/presets-archive.ts
Due: lint

docs: add project roadmap with CMS decision and release plan
  ROADMAP.md
Due: none

docs: add map app to CLAUDE.md monorepo layout and commands
  CLAUDE.md
Due: none

feat(brand): add @404tf/brand package as single source of truth
  CLAUDE.md
  ROADMAP.md
  apps/landing/next.config.ts
  apps/landing/package.json
  apps/map/package.json
  bun.lock
  knip.config.ts
  package.json
  packages/brand/.gitignore
  packages/brand/assets/fonts/JetBrainsMono-Regular.ttf
  packages/brand/assets/fonts/Orbitron-Bold.ttf
  packages/brand/assets/fonts/Orbitron-Medium.ttf
  packages/brand/assets/logos/generated/.gitkeep
  packages/brand/assets/logos/svg/logo-dark.svg
  packages/brand/assets/logos/svg/logo-light.svg
  packages/brand/assets/logos/svg/logo-transparent-ondark.svg
  packages/brand/assets/logos/svg/logo-transparent-onlight.svg
  packages/brand/package.json
  packages/brand/scripts/export-wordmark.ts
  packages/brand/scripts/sync.ts
  packages/brand/src/fonts.ts
  packages/brand/src/index.ts
  packages/brand/src/logo.ts
  packages/brand/src/tokens.ts
  packages/brand/tsconfig.json
Due: lint

chore(brand): organize content from content_unorganized/ into brand package
  .planning/content/blog-categories.md
  .planning/content/blog-seed-content.md
  packages/brand/assets/photos/team/ale-vera.jpg
  packages/brand/assets/photos/team/enrique-flores-alt.png
  packages/brand/assets/photos/team/enrique-flores.png
  packages/brand/assets/photos/team/oscar-castro.jpg
  packages/brand/brand-book.md
  packages/brand/content/team/ale-vera.md
  packages/brand/content/team/dany-quispe.md
  packages/brand/content/team/enrique-flores.md
  packages/brand/content/team/leandro-urbano.md
  packages/brand/content/team/oscar-castro.md
  packages/brand/content/team/piero-beraun.md
Due: none

chore(brand): add reusable application responses for Enrique
  packages/brand/content/team/reusable-enrique.md
Due: none

chore(brand): rename reusable-enrique to match naming convention
  packages/brand/content/team/enrique-flores-responses.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx,json,jsonc}
  types-landing: any of: apps/landing/**/*.{ts,tsx}
  types-spechack: any of: apps/spechack/**/*.{ts,tsx}
