Repository Enriquefft/404TF: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: bun lint --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx tsc --noEmit

chore: remove unused logo image
  src/assets/logo-white.png
Due: none

feat: add bootcamp content
  messages/en.json
Due: lint

feat: add Spanish bootcamp content
  messages/es.json
Due: lint

feat: add announcement banner ID
  src/app/[locale]/_components/AnnouncementBanner.tsx
Due: lint, types

feat: update navbar to use banner height
  src/app/[locale]/_components/Navbar.tsx
Due: lint, types

feat: add 404 bootcamp section
  src/app/[locale]/_components/Programs.tsx
Due: lint, types

docs(phase-04): research SEO & metadata implementation
  .planning/phases/04-seo-a-metadata/04-RESEARCH.md
Due: none

docs(04): create phase plan
  .planning/ROADMAP.md
  .planning/phases/04-seo-a-metadata/04-01-PLAN.md
  .planning/phases/04-seo-a-metadata/04-02-PLAN.md
Due: none

chore(04-01): add SEO config, env vars, and metadata translations
  .env.example
  messages/en.json
  messages/es.json
  src/env/client.ts
  src/lib/metadata/seo-config.ts
Due: lint, types

feat(04-01): add generateMetadata with per-locale SEO tags
  src/app/[locale]/layout.tsx
Due: lint, types

feat(04-01): add JSON-LD structured data schemas
  src/app/[locale]/page.tsx
  src/lib/metadata/json-ld/event.tsx
  src/lib/metadata/json-ld/faq.tsx
  src/lib/metadata/json-ld/organization.tsx
  src/lib/metadata/seo-config.ts
Due: lint, types

docs(04-01): complete SEO config and metadata plan
  .planning/STATE.md
  .planning/phases/04-seo-a-metadata/04-01-SUMMARY.md
Due: none

feat(04-02): add sitemap and robots.txt generation
  src/app/robots.ts
  src/app/sitemap.ts
Due: lint, types

feat(04-02): add dynamic OpenGraph image generation
  src/app/[locale]/opengraph-image.tsx
Due: lint, types

docs(04-02): complete OpenGraph images and discovery files plan
  .planning/STATE.md
  .planning/phases/04-seo-a-metadata/04-02-SUMMARY.md
Due: none

fix(04): correct navbar scroll hiding to account for banner offset
  src/app/[locale]/_components/Navbar.tsx
Due: lint, types

docs(04): complete SEO & Metadata phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-seo-a-metadata/04-VERIFICATION.md
Due: none

docs(05): research phase domain
  .planning/phases/05-analytics-and-geo/05-RESEARCH.md
Due: none

docs(05): create phase plan
  .planning/ROADMAP.md
  .planning/phases/05-analytics-and-geo/05-01-PLAN.md
  .planning/phases/05-analytics-and-geo/05-02-PLAN.md
Due: none

feat(05-01): add PostHog analytics modules with Core Web Vitals tracking
  bun.lock
  package.json
  src/lib/analytics/posthog-pageview.tsx
  src/lib/analytics/posthog-provider.tsx
  src/lib/analytics/web-vitals.tsx
Due: lint, types

feat(05-01): integrate PostHog analytics into root layout
  next-env.d.ts
  src/app/layout.tsx
Due: lint, types

docs(05-02): add llms.txt files for AI discoverability
  public/llms-full.txt
  public/llms.txt
Due: none

docs(05-01): complete PostHog analytics and Core Web Vitals plan
  .planning/STATE.md
  .planning/phases/05-analytics-and-geo/05-01-SUMMARY.md
Due: none

feat(05-02): add production readiness states with i18n
  messages/en.json
  messages/es.json
  src/app/[locale]/[...rest]/page.tsx
  src/app/[locale]/error.tsx
  src/app/[locale]/loading.tsx
  src/app/[locale]/not-found.tsx
Due: lint, types

docs(05-02): complete AI discoverability and production states plan
  .planning/STATE.md
  .planning/phases/05-analytics-and-geo/05-02-SUMMARY.md
Due: none

docs(05): complete Analytics & GEO phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-analytics-and-geo/05-VERIFICATION.md
Due: none

chore: complete v1.0 milestone
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v1.0-MILESTONE-AUDIT.md
  .planning/milestones/v1.0-REQUIREMENTS.md
  .planning/milestones/v1.0-ROADMAP.md
Due: none

chore: update footer copy
  messages/en.json
  messages/es.json
Due: lint

chore: update site URL and contact email
  .env.example
Due: none

chore: update contact and social links
  src/app/[locale]/_components/Footer.tsx
  src/app/[locale]/_components/IntentCTA.tsx
  src/lib/metadata/seo-config.ts
Due: lint, types

chore: update contact information in public assets
  public/llms-full.txt
  public/llms.txt
Due: none

chore: regular commit
  src/hooks/useBannerHeight.ts
Due: lint, types

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: none

feat(01-02): add spechack tables and enums to database schema
  packages/database/src/schema.ts
Due: lint, types

docs(01-02): complete database-schema plan
  apps/spechack/.planning/PROJECT.md
  apps/spechack/.planning/REQUIREMENTS.md
  apps/spechack/.planning/ROADMAP.md
  apps/spechack/.planning/STATE.md
  apps/spechack/.planning/config.json
  apps/spechack/.planning/phases/01-foundation/01-01-PLAN.md
  apps/spechack/.planning/phases/01-foundation/01-02-PLAN.md
  apps/spechack/.planning/phases/01-foundation/01-03-PLAN.md
  apps/spechack/.planning/phases/01-foundation/01-RESEARCH.md
  apps/spechack/.planning/research/ARCHITECTURE.md
  apps/spechack/.planning/research/FEATURES.md
  apps/spechack/.planning/research/PITFALLS.md
  apps/spechack/.planning/research/STACK.md
  apps/spechack/.planning/research/SUMMARY.md
Due: lint

feat(01-01): install deps and create Tailwind v4 theme, fonts, utilities
  apps/spechack/package.json
  apps/spechack/postcss.config.cjs
  apps/spechack/src/lib/utils.ts
  apps/spechack/src/styles/fonts.ts
  apps/spechack/src/styles/globals.css
  bun.lock
Due: lint, types

feat(01-01): configure next-intl routing and bilingual page structure
  apps/spechack/messages/en.json
  apps/spechack/messages/es.json
  apps/spechack/next-env.d.ts
  apps/spechack/next.config.ts
  apps/spechack/src/app/[locale]/layout.tsx
  apps/spechack/src/app/[locale]/not-found.tsx
  apps/spechack/src/app/[locale]/page.tsx
  apps/spechack/src/app/layout.tsx
  apps/spechack/src/app/page.tsx
  apps/spechack/src/i18n/request.ts
  apps/spechack/src/i18n/routing.ts
  apps/spechack/src/proxy.ts
Due: lint, types

feat(01-03): create Framer Motion client-boundary wrapper components
  apps/spechack/src/app/[locale]/_components/animations/FadeInSection.tsx
  apps/spechack/src/app/[locale]/_components/animations/MotionDiv.tsx
  apps/spechack/src/app/[locale]/_components/animations/MotionSection.tsx
  apps/spechack/src/app/[locale]/_components/animations/MotionSpan.tsx
  apps/spechack/src/app/[locale]/_components/animations/index.ts
Due: lint, types

docs(01): complete foundation phase
  apps/spechack/.planning/REQUIREMENTS.md
  apps/spechack/.planning/ROADMAP.md
  apps/spechack/.planning/STATE.md
  apps/spechack/.planning/phases/01-foundation/01-01-SUMMARY.md
  apps/spechack/.planning/phases/01-foundation/01-02-SUMMARY.md
  apps/spechack/.planning/phases/01-foundation/01-03-SUMMARY.md
  apps/spechack/.planning/phases/01-foundation/01-VERIFICATION.md
Due: none
