Repository Enriquefft/404TF: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: bun lint --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

types:
  run: bunx tsc --noEmit

docs(01-01): complete Next.js initialization plan
  .planning/STATE.md
  .planning/phases/01-foundation/01-01-SUMMARY.md
Due: none

feat(01-02): configure Tailwind v4 theme and shadcn/ui
  components.json
  postcss.config.cjs
  src/styles/fonts.ts
  src/styles/globals.css
Due: lint, types

chore(01-03): set up type-safe environment variables
  src/env/client.ts
  src/env/db.ts
Due: lint, types

feat(01-02): configure next-intl routing and create locale layouts
  messages/en.json
  messages/es.json
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/app/proxy.ts
  src/i18n/navigation.ts
  src/i18n/request.ts
  src/i18n/routing.ts
Due: lint, types

docs(01-02): complete styling + i18n plan
  .planning/STATE.md
  .planning/phases/01-foundation/01-02-SUMMARY.md
Due: none

feat(01-03): set up Drizzle ORM schema and run migration
  bun.lock
  drizzle.config.ts
  package.json
  scripts/init-db.ts
  src/db/index.ts
  src/db/schema.ts
Due: lint, types

docs(01-03): complete data layer plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-foundation/01-03-SUMMARY.md
Due: none

fix(01): fix dev server startup issues
  next.config.ts
  src/app/[locale]/layout.tsx
  src/styles/globals.css
Due: lint, types

docs(01): mark foundation phase complete
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(phase-2): research static content migration
  .planning/phases/02-static-content-migration/02-RESEARCH.md
Due: none

docs(02): create phase 2 static content migration plans
  .planning/ROADMAP.md
  .planning/phases/02-static-content-migration/02-01-PLAN.md
  .planning/phases/02-static-content-migration/02-02-PLAN.md
  .planning/phases/02-static-content-migration/02-03-PLAN.md
Due: none

chore(02-01): install lucide-react, copy assets, add CSS utility
  bun.lock
  package.json
  src/assets/logo-white.png
  src/assets/mascot.png
  src/styles/globals.css
  tsconfig.json
Due: lint

feat(02-01): create complete translation files and landing page composition
  messages/en.json
  messages/es.json
  src/app/[locale]/_components/AnnouncementBanner.tsx
  src/app/[locale]/_components/Community.tsx
  src/app/[locale]/_components/Events.tsx
  src/app/[locale]/_components/Footer.tsx
  src/app/[locale]/_components/Hero.tsx
  src/app/[locale]/_components/Houses.tsx
  src/app/[locale]/_components/IntentCTA.tsx
  src/app/[locale]/_components/Navbar.tsx
  src/app/[locale]/_components/Partners.tsx
  src/app/[locale]/_components/Programs.tsx
  src/app/[locale]/_components/TractionBar.tsx
  src/app/[locale]/page.tsx
Due: lint, types

docs(02-01): complete foundation plan
  .planning/STATE.md
  .planning/phases/02-static-content-migration/02-01-SUMMARY.md
Due: none

feat(02-02): create Hero and Houses Server Components
  biome.jsonc
  src/app/[locale]/_components/Hero.tsx
  src/app/[locale]/_components/Houses.tsx
Due: lint, types

feat(02-02): create Programs and Events Server Components
  src/app/[locale]/_components/Events.tsx
  src/app/[locale]/_components/Programs.tsx
Due: lint, types

docs(02-02): complete primary content sections plan
  .planning/STATE.md
  .planning/phases/02-static-content-migration/02-02-SUMMARY.md
Due: none

feat(02-03): create Community, Partners, and Footer Server Components
  src/app/[locale]/_components/Community.tsx
  src/app/[locale]/_components/Footer.tsx
  src/app/[locale]/_components/Partners.tsx
Due: lint, types

feat(02-03): create static placeholder sections (Navbar, AnnouncementBanner, TractionBar, IntentCTA)
  src/app/[locale]/_components/AnnouncementBanner.tsx
  src/app/[locale]/_components/IntentCTA.tsx
  src/app/[locale]/_components/Navbar.tsx
  src/app/[locale]/_components/TractionBar.tsx
Due: lint, types

docs(02-03): complete Wave 3 components plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-static-content-migration/02-03-SUMMARY.md
Due: none

docs(02): complete static content migration phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-static-content-migration/02-VERIFICATION.md
Due: none

docs(03): research Phase 3 interactive components domain
  .planning/phases/03-interactive-components/03-RESEARCH.md
Due: none

docs(03): create phase plan
  .planning/ROADMAP.md
  .planning/phases/03-interactive-components/03-01-PLAN.md
  .planning/phases/03-interactive-components/03-02-PLAN.md
  .planning/phases/03-interactive-components/03-03-PLAN.md
Due: none

feat(03-01): install Phase 3 dependencies and create custom hooks
  bun.lock
  package.json
  src/hooks/useLocalStorage.ts
  src/hooks/useScrollDirection.ts
Due: lint, types

feat(03-01): convert Navbar and AnnouncementBanner to Client Components
  src/app/[locale]/_components/AnnouncementBanner.tsx
  src/app/[locale]/_components/Navbar.tsx
  src/app/[locale]/page.tsx
Due: lint, types

docs(03-01): complete Interactive Navbar and Banner plan
  .planning/STATE.md
  .planning/phases/03-interactive-components/03-01-SUMMARY.md
Due: none

feat(03-02): create animation wrapper components
  src/app/[locale]/_components/animations/FadeInSection.tsx
  src/app/[locale]/_components/animations/FloatingMascot.tsx
Due: lint, types

feat(03-02): add animations to TractionBar, Hero, and content sections
  src/app/[locale]/_components/Hero.tsx
  src/app/[locale]/_components/TractionBar.tsx
  src/app/[locale]/page.tsx
Due: lint, types

docs(03-02): complete TractionBar animations and scroll-triggered sections plan
  .planning/STATE.md
  .planning/phases/03-interactive-components/03-02-SUMMARY.md
Due: none

feat(03-03): create Server Action for intent form submission
  messages/en.json
  messages/es.json
  src/app/[locale]/_actions/intent.actions.ts
Due: lint, types

feat(03-03): convert IntentCTA to interactive Client Component with form
  src/app/[locale]/_components/IntentCTA.tsx
  src/app/[locale]/page.tsx
Due: lint, types

docs(03-03): complete IntentCTA interactive form plan
  .planning/STATE.md
  .planning/phases/03-interactive-components/03-03-SUMMARY.md
Due: none

docs(03): complete interactive-components phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/03-interactive-components/03-VERIFICATION.md
Due: none

chore: sync remaining uncommitted changes for deploy
  .gitignore
  .planning/phases/01-foundation/01-VERIFICATION.md
  flake.lock
  next-env.d.ts
  src/app/[locale]/layout.tsx
  src/app/layout.tsx
  src/proxy.ts
Due: lint, types

feat: addedd ddb schema
  src/db/schema.ts
  src/env/client.ts
Due: lint, types

fix: update next.js types path
  next-env.d.ts
Due: lint, types

refactor: use Logo component in Footer
  src/app/[locale]/_components/Footer.tsx
Due: lint, types

refactor: use Logo component in Navbar
  src/app/[locale]/_components/Navbar.tsx
Due: lint, types

feat: add Logo component
  src/app/[locale]/_components/Logo.tsx
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx,json,jsonc}
  types: any of: *.{js,ts,jsx,tsx}
