Repository Enriquefft/404TF: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types-landing, types-spechack

lint:
  run: bunx biome check --fix . --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

types-landing:
  run: cd apps/landing && bunx tsc --noEmit

types-spechack:
  run: cd apps/spechack && bunx tsc --noEmit

chore: disconnect spechack from monorepo infrastructure
  CLAUDE.md
  README.md
  ROADMAP.md
  knip.config.ts
  lefthook.yml
  package.json
  packages/database/src/migrations/0000_round_albert_cleary.sql
  packages/database/src/migrations/meta/0000_snapshot.json
  packages/database/src/migrations/meta/_journal.json
  packages/database/src/schema.ts
Due: lint

chore: update plywright
  flake.nix
Due: none

feat(brand): add proposals tool with 16 brand variants and showcase pages
  .impeccable.md
  packages/brand/proposals/.gitignore
  packages/brand/proposals/.prettierignore
  packages/brand/proposals/.prettierrc
  packages/brand/proposals/README.md
  packages/brand/proposals/astro.config.mjs
  packages/brand/proposals/bun.lock
  packages/brand/proposals/components.json
  packages/brand/proposals/eslint.config.js
  packages/brand/proposals/package.json
  packages/brand/proposals/public/enrique.png
  packages/brand/proposals/public/favicon.svg
  packages/brand/proposals/public/tardi.png
  packages/brand/proposals/src/components/ThemeSwitcher.tsx
  packages/brand/proposals/src/components/ui/button.tsx
  packages/brand/proposals/src/layouts/main.astro
  packages/brand/proposals/src/lib/utils.ts
  packages/brand/proposals/src/pages/evolved.astro
  packages/brand/proposals/src/pages/forge.astro
  packages/brand/proposals/src/pages/index.astro
  packages/brand/proposals/src/pages/litho.astro
  packages/brand/proposals/src/styles/global.css
  packages/brand/proposals/tsconfig.json
Due: lint

fix(brand): increase violet visibility in Litho proposal
  packages/brand/proposals/src/pages/litho.astro
  packages/brand/proposals/src/styles/global.css
Due: none

chore(db): drop spechack tables from live Neon DB
  packages/database/src/migrations/relations.ts
  packages/database/src/migrations/schema.ts
Due: lint

feat(brand): add 4 hybrid brand proposals (Q-T) with purple + warm primary
  packages/brand/proposals/src/components/ThemeSwitcher.tsx
  packages/brand/proposals/src/pages/crucible.astro
  packages/brand/proposals/src/pages/fission.astro
  packages/brand/proposals/src/pages/foundry.astro
  packages/brand/proposals/src/pages/index.astro
  packages/brand/proposals/src/pages/stratum.astro
  packages/brand/proposals/src/styles/global.css
Due: lint

feat(brand): add Foundry design system spec pages
  packages/brand/proposals/src/pages/foundry-motion.astro
  packages/brand/proposals/src/pages/foundry-system.astro
Due: none

feat(brand): migrate tokens, fonts, and logo system to Foundry
  packages/brand/assets/fonts/BarlowSemiCondensed-Medium.ttf
  packages/brand/assets/fonts/BarlowSemiCondensed-Regular.ttf
  packages/brand/assets/fonts/BarlowSemiCondensed-SemiBold.ttf
  packages/brand/assets/fonts/BigShouldersDisplay-ExtraBold.ttf
  packages/brand/assets/fonts/BigShouldersDisplay-Medium.ttf
  packages/brand/assets/fonts/BigShouldersDisplay-Variable.ttf
  packages/brand/brand-book.md
  packages/brand/scripts/export-logomark.ts
  packages/brand/scripts/export-wordmark.ts
  packages/brand/scripts/sync.ts
  packages/brand/src/fonts.ts
  packages/brand/src/index.ts
  packages/brand/src/logo.ts
  packages/brand/src/tokens.ts
Due: lint

feat(landing): apply Foundry design system to landing app
  apps/landing/src/app/[locale]/_components/AnnouncementBanner.tsx
  apps/landing/src/app/[locale]/_components/Community.tsx
  apps/landing/src/app/[locale]/_components/Events.tsx
  apps/landing/src/app/[locale]/_components/Hero.tsx
  apps/landing/src/app/[locale]/_components/Houses.tsx
  apps/landing/src/app/[locale]/_components/IntentCTA.tsx
  apps/landing/src/app/[locale]/_components/Logo.tsx
  apps/landing/src/app/[locale]/_components/Navbar.tsx
  apps/landing/src/app/[locale]/_components/Partners.tsx
  apps/landing/src/app/[locale]/_components/Programs.tsx
  apps/landing/src/app/[locale]/_components/TractionBar.tsx
  apps/landing/src/app/[locale]/not-found.tsx
  apps/landing/src/app/[locale]/opengraph-image.tsx
  apps/landing/src/app/icon.tsx
  apps/landing/src/app/layout.tsx
  apps/landing/src/styles/fonts.ts
  apps/landing/src/styles/globals.css
Due: lint, types-landing

docs: update ROADMAP, map design spec, and logo showcase page
  ROADMAP.md
  apps/map/design-spec.jsonc
  apps/map/src/styles/globals.css
  apps/map/todo.md
  packages/brand/proposals/src/pages/logos.astro
Due: lint

docs(roadmap): mark Phase 1 complete, set map as current priority
  ROADMAP.md
Due: none

docs(map): update implementation plan with conversion-focused decisions
  apps/map/astro.config.ts
  apps/map/implementation.md
  apps/map/package.json
  apps/map/todo.md
  bun.lock
Due: lint

feat(map): address architecture gaps from devil's advocate review
  apps/map/astro.config.ts
  apps/map/implementation.md
  apps/map/package.json
  apps/map/src/styles/globals.css
  bun.lock
Due: lint

docs(map): add CLAUDE.md with project rules and architecture
  apps/map/CLAUDE.md
Due: none

docs(map): trim CLAUDE.md per arxiv/2602.11988 findings
  apps/map/CLAUDE.md
Due: none

feat(map): add orchestrator agent for agentic build
  apps/map/.claude/agents/orchestrator.md
Due: none

feat(map): add Vercel configuration and Biome overrides
  apps/map/biome.jsonc
  apps/map/vercel.json
Due: lint

fix(vercel): use root vercel.json for monorepo build
  vercel.json
Due: lint

fix(vercel): remove per-app vercel.json to use root monorepo config only
  apps/landing/next-env.d.ts
  apps/landing/vercel.json
  apps/map/vercel.json
Due: lint

fix(vercel): restore per-app vercel.json for separate Vercel projects
  apps/landing/vercel.json
  apps/map/vercel.json
  vercel.json
Due: lint

fix(map): remove unused VERTICAL_CONFIG import from dot-grid-map
  apps/map/src/components/dot-grid-map.tsx
Due: lint

perf(map): fire-and-forget emails, DB indexes, health endpoint
  apps/map/src/pages/api/health.ts
  apps/map/src/pages/api/leads/corporate.ts
  apps/map/src/pages/api/leads/report-download.ts
  apps/map/src/pages/api/leads/startup-apply.ts
  apps/map/src/pages/api/leads/startup-program.ts
  apps/map/src/pages/api/startup/claim.ts
  apps/map/vercel.json
  packages/database/src/map-schema.ts
  packages/database/src/migrations/0002_puzzling_sersi.sql
  packages/database/src/migrations/meta/0002_snapshot.json
  packages/database/src/migrations/meta/_journal.json
Due: lint

feat(map): DB-driven build pipeline, server-side directory, deploy hook
  apps/map/CLAUDE.md
  apps/map/package.json
  apps/map/scripts/generate-seed.ts
  apps/map/src/components/directory-island.tsx
  apps/map/src/data/seed.json
  apps/map/src/lib/directory-query-schema.ts
  apps/map/src/pages/api/admin/rebuild.ts
  apps/map/src/pages/api/directory.ts
  apps/map/src/pages/en/directory.astro
  apps/map/src/pages/es/directorio.astro
  bun.lock
Due: lint

fix(db): drizzle-kit schemaFilter so introspection sees the named schema
  package.json
  packages/database/drizzle.config.ts
  packages/database/package.json
  packages/database/src/pg-schema.ts
  packages/database/src/schema-name.ts
Due: lint

fix(map): quality bar pass on directory + admin endpoints
  CLAUDE.md
  apps/map/biome.jsonc
  apps/map/package.json
  apps/map/scripts/generate-seed.ts
  apps/map/src/components/directory-island.tsx
  apps/map/src/lib/api-env.ts
  apps/map/src/lib/directory-query-schema.ts
  apps/map/src/pages/api/admin/rebuild.ts
  apps/map/src/pages/api/directory.ts
  apps/map/src/pages/en/directory.astro
  apps/map/src/pages/es/directorio.astro
  bun.lock
  packages/database/src/env.ts
  packages/database/src/index.ts
  packages/database/src/schema-name.ts
Due: lint

fix(map): eliminate all pre-existing `as` casts and astro check errors
  apps/map/scripts/generate-seed.ts
  apps/map/scripts/seed.ts
  apps/map/src/components/charts/geo-chart.tsx
  apps/map/src/components/charts/vertical-chart.tsx
  apps/map/src/components/corporate-form.tsx
  apps/map/src/components/directory-island.tsx
  apps/map/src/components/dot-grid-map.tsx
  apps/map/src/components/fade-in-section.astro
  apps/map/src/components/featured-startups.astro
  apps/map/src/components/hero-island.tsx
  apps/map/src/components/startup-program-form.tsx
  apps/map/src/components/ui/badge.astro
  apps/map/src/components/ui/startup-card.astro
  apps/map/src/lib/insights-data.ts
  apps/map/src/lib/seed-schema.ts
  apps/map/src/lib/seed-types.ts
  apps/map/src/lib/seed.ts
  apps/map/src/lib/startup-apply-schema.ts
  apps/map/src/lib/types.ts
  apps/map/src/lib/verticals.ts
  apps/map/src/pages/en/contact.astro
  apps/map/src/pages/en/directory.astro
  apps/map/src/pages/en/index.astro
  apps/map/src/pages/en/startup/[slug].astro
  apps/map/src/pages/es/contacto.astro
  apps/map/src/pages/es/directorio.astro
  apps/map/src/pages/es/index.astro
  apps/map/src/pages/es/startup/[slug].astro
Due: lint

fix(map): Solar icon components + seed.json formatter integration
  apps/map/biome.jsonc
  apps/map/scripts/generate-seed.ts
  apps/map/src/components/icons/clipboard-check.astro
  apps/map/src/components/icons/eye.astro
  apps/map/src/components/icons/link.astro
  apps/map/src/components/icons/shield-check.astro
  apps/map/src/components/icons/tuning.astro
  apps/map/src/components/icons/users-group.astro
  apps/map/src/data/seed.json
  apps/map/src/pages/en/startups.astro
  apps/map/src/pages/es/startups.astro
Due: lint

chore: regular commit
  apps/map/astro.config.ts
  apps/map/src/pages/index.astro
  flake.lock
  flake.nix
Due: lint

feat(brand): canonical Foundry theme.css + hex tokens generator
  apps/landing/src/styles/globals.css
  bun.lock
  packages/brand/package.json
  packages/brand/scripts/build-tokens.ts
  packages/brand/src/tokens.ts
  packages/brand/theme.css
  packages/brand/tsconfig.json
Due: lint

chore: landing biome scope + drop redundant clientPrefix in dbEnv
  apps/landing/biome.jsonc
  apps/landing/src/app/[locale]/_actions/intent.actions.ts
  apps/landing/src/app/[locale]/_components/Community.tsx
  apps/landing/src/app/[locale]/_components/Events.tsx
  apps/landing/src/app/[locale]/_components/Footer.tsx
  apps/landing/src/app/[locale]/_components/Houses.tsx
  apps/landing/src/app/[locale]/_components/IntentCTA.tsx
  apps/landing/src/app/[locale]/_components/Logo.tsx
  apps/landing/src/app/[locale]/_components/Navbar.tsx
  apps/landing/src/app/[locale]/_components/Partners.tsx
  apps/landing/src/app/[locale]/_components/Programs.tsx
  apps/landing/src/app/[locale]/error.tsx
  apps/landing/src/app/[locale]/not-found.tsx
  apps/landing/src/app/[locale]/opengraph-image.tsx
  apps/landing/src/app/layout.tsx
  apps/landing/src/hooks/useLocalStorage.ts
  apps/landing/src/hooks/useScrollDirection.ts
  apps/landing/src/i18n/navigation.ts
  apps/landing/src/i18n/request.ts
  apps/landing/src/styles/fonts.ts
  packages/database/src/env.ts
Due: lint, types-landing

chore(map): remove 5min health cron (Hobby-plan limit; Neon cold starts <100ms)
  apps/map/vercel.json
Due: lint

fix(map): bundle OG fonts via src/assets so Vercel nft traces them
  apps/map/src/assets/fonts/BarlowSemiCondensed-Medium.ttf
  apps/map/src/assets/fonts/BarlowSemiCondensed-Regular.ttf
  apps/map/src/assets/fonts/BigShouldersDisplay-ExtraBold.ttf
  apps/map/src/assets/fonts/JetBrainsMono-Regular.ttf
  apps/map/src/lib/og-image.ts
Due: lint

fix(map): OG fonts via /public/fonts + same-origin fetch
  apps/landing/package.json
  apps/map/package.json
  apps/map/public/fonts/BarlowSemiCondensed-Medium.ttf
  apps/map/public/fonts/BarlowSemiCondensed-Regular.ttf
  apps/map/public/fonts/BigShouldersDisplay-ExtraBold.ttf
  apps/map/public/fonts/JetBrainsMono-Regular.ttf
  apps/map/src/lib/og-image.ts
  apps/map/src/pages/og/[...params].ts
  bun.lock
  packages/database/package.json
Due: lint

revert(map): @astrojs/vercel 10 → 9 (requires Astro 6 upgrade, separate work)
  apps/map/package.json
  bun.lock
Due: lint

fix(map): OG fonts via jsdelivr CDN (bypass preview-auth + nft)
  apps/map/public/fonts/BarlowSemiCondensed-Medium.ttf
  apps/map/public/fonts/BarlowSemiCondensed-Regular.ttf
  apps/map/public/fonts/BigShouldersDisplay-ExtraBold.ttf
  apps/map/public/fonts/JetBrainsMono-Regular.ttf
  apps/map/src/lib/og-image.ts
  apps/map/src/pages/og/[...params].ts
Due: lint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx,json,jsonc}
  types-landing: any of: apps/landing/**/*.{ts,tsx}
  types-spechack: any of: apps/spechack/**/*.{ts,tsx}
